<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>

<h3>Get access to all features with one simple plan</h3>

<div class="pricing-area">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-price">
         
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-price">
          <div class="deal-top">
            <h3>Pro Plan</h3>
            <h4> 9.99 <span class="sup">$/month</span> </h4>
          </div>
          <div class="deal-bottom">
            <ul class="deal-item">
              <li>Unlimited posts</li>
              <li>Unlimited downloads</li>
              <li>Automatic DM (Soon!)</li>
              <li>Linkedin profiles (Soon!)</li>
            </ul>
            <div class="btn-area">
              <form action="/create-checkout-session" method="POST">
                <button type="submit" id="checkout-button">Sign up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-price">
          
        </div>
      </div>
    </div>
  </div>       


</div>


